<section class="reviews-section" style="margin: 30px;">
  <h2 style="justify-self: center;">What Our Patients Say</h2>
  <p style="justify-self: center;">We value your feedback! Read what others are saying about us.</p>
  <div style="justify-self: center;">
    <button class="btn btn-primary" 
    onclick="window.open('https://www.google.com/maps/place/La+Aesthetique+(Skin+Hair+Laser+Clinic)/@21.085885,79.0902019,17z/data=!4m8!3m7!1s0x3bd4bf795f8591d9:0xf4e81e61d5ae78d3!8m2!3d21.085885!4d79.0927768!9m1!1b1!16s%2Fg%2F11vws7p1pt?entry=ttu&g_ep=EgoyMDI2MDIxOC4wIKXMDSoASAFQAw%3D%3D', '_blank')"
    >
      See All Reviews on Google
    </button>
  </div>
</section>